footer {
    background: #202B3B;
    border-radius: 20px;
    color: #78818f;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-header-text {
    font-size: 0.8em;
    text-align: start;
}

.conditions-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 620px;
    width: 100%;
}

.conditions-grid-container>div {
    width: calc(50% - 15px);
    margin-bottom: 20px;
}

.conditions-grid-container h3 {
    margin: 0;
    font-size: 0.8em;
}

.conditions-grid-container span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.conditions-grid-container p {
    color: #d3dbe9;
    margin: 10px 0 0 0;
    font-size: 1em;
}

@media screen and (max-width: 490px) {
    .conditions-grid-container>div {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .conditions-grid-container {
        max-width: 200px;
    }
}

@media screen and (max-width: 730px) {
    .conditions-grid-container {
        max-width: 400px;
    }
}