footer {
    background: #202B3B;
    border-radius: 20px;
    color: #78818f;
    margin-top: 20px;
    padding: 4px 0 20px 4.8em;
}

.footer-header-text {
    font-size: 0.8em;
    text-align: start;
}

.conditions-grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-row-gap: 30px;
}

.conditions-grid-container h3 {
    margin: 0;
    font-size: 0.8em;
}

.conditions-grid-container span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.conditions-grid-container p {
    color: #d3dbe9;
    margin: 10px 0 0 0;
    font-size: 1em;
}